/* -*- indent-tabs-mode: nil; js-indent-level: 2 -*-
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tabbrowser-tab[class]:not([pinned]) {
  min-width: var(--floorp-tab-min-width) !important;
  transition-property: max-width !important;
}

.tabbrowser-tab[class]:not([pinned]):not([selected]):is(
    [muted],
    [soundplaying],
    [activemedia-blocked]
  ) {
  min-width: max(var(--floorp-tab-min-width), calc(30px + 24px)) !important;
}

.tabbrowser-tab[class]:not([pinned])[selected] {
  min-width: max(var(--floorp-tab-min-width), calc(30px + 32px)) !important;
}

.tabbrowser-tab[class]:not([pinned])[selected]:is(
    [muted],
    [soundplaying],
    [activemedia-blocked]
  ) {
  min-width: max(var(--floorp-tab-min-width), calc(30px + 56px)) !important;
}

.tabbrowser-tab[class] {
  min-height: var(--floorp-tab-min-height) !important;
}
